{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
	<div class="row top-menu">
		<div class="col-md-10"></div>
		<div class="col-md-2 text-right">
					</div>
	</div>
	<div class="row divider blue">
		<div class="col-md-12"></div>
	</div>
	<div class="row banner main">
		<div class="col-md-1"></div>
		<div class="col-md-11 padding-none">
			<h1>Catalog</h1>
		</div>
	</div>

<div class = 'flash'>
		      {% with messages = get_flashed_messages() %}
      {% if messages %}
          
        <ul>
        {% for message in messages %}
            <li> <strong> {{ message }} </strong> </li>
        {% endfor %}
        </ul>
        {% endif %}
    {% endwith %}

</div>
	
	<div class="row padding-top padding-bottom">
		<div class="col-md-1"></div>
		<div class="col-md-10 padding-none">
			<a href="{{url_for('newCatagory')}}">
				<button class="btn btn-default" id="new-catagory">
					<span class="glyphicon glyphicon-cutlery" aria-hidden="true"></span>Add Catagory
				</button>
			</a>
		</div>
		<div class="col-md-1"></div>
	</div>
	<div class="col-md-4">
		<h3>Catagories</h3>
		{% for catagory in catagories %}
			<a href = "{{url_for('showCatagory', catagory_name = catagory.name)}}">
				<div class="row">
					<div class="col-md-1"></div>
						<div class="col-md-10 catagory-list">
							<h3>{{catagory.name}}</h3>
						</div>
					<div class="col-md-1"></div>
				</div>
			</a>
		{% endfor %}
	</div>
	<div class="col-md-8">
		<h3>Latest Items</h3>
		{% for item in items %}
			<a href = "{{url_for('showCatalogItem', catagory_name = item.catagory_name, item_name = item.name)}}">
				<div class="row">
					<div class="col-md-1"></div>
						<div class="col-md-10 catagory-list">
							<h3>{{item.name}}</h3>
						</div>
					<div class="col-md-1"></div>
				</div>
			</a>
		{% endfor %}
	</div>
{% endblock %}
